/* Default styles & reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* outline: 1px solid red; */
  font-size: 1rem;
  color: #212121;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    111deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  padding: 2rem;
}

/* App container */
.app-container {
  width: 100%;
  max-width: 600px;
  margin: auto;

  background-color: rgba(255, 255, 255, 0.734);
  padding: 2rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Header */
.header {
  margin: auto;
  font-size: 2rem;
}

/* Search Box */
.search-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-box > * {
  padding: 0.75rem 1rem;
  border: 1px solid black;
  border: none;
}

.search-box input {
  min-width: 100px;
  border-right: none;
  border-radius: 5px 0 0 5px;
  flex-shrink: 1;
}

.search-box input:focus {
  outline: none;
}

.search-box button {
  border-radius: 0 5px 5px 0;
  border-left: none;
  background-color: rgb(66, 160, 255);
  color: white;
  cursor: pointer;
}

hr {
  color: rgba(125, 125, 125, 0.159);
}

.message {
  text-align: center;
}

/* WeatherInfo */

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.city {
  font-size: 2rem;
  text-align: left;
}

.temp {
  font-size: 3.5rem;
  font-weight: bold;
}

.weather-description {
  font-size: 1.5rem;
  white-space: normal;
}

.left {
  display: flex;
  flex-direction: column;
  overflow-wrap: normal;
}

.right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.right img {
  display: block;
}

/* Weather Cards */

.weather-cards {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

/* Info Card */

.info-card {
  border: none;
  border-radius: 7px;
  padding: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.302);

  /* min-width: max-content; */

  display: flex;
  flex-direction: column;

  transition: box-shadow 0.3s, transform 0.3s;
}

.info-card:hover {
  transform: translateY(-2px);
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.518);
}

.info-card .text {
  font-size: 1.2rem;
}

.info-card .data {
  font-size: 2rem;
  margin-top: auto;
  align-self: flex-end;
}

@media (max-width: 560px) {
  body {
    padding: 1rem;
  }
  .app-container {
    gap: 1rem;
  }
  .main-info {
    flex-direction: column;
    gap: 0;
  }

  .weather-cards {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
  }

  .info-card {
    padding: 0.7rem;
    flex: 1 1 0;
  }

  .city {
    text-align: center;
    font-size: 1.5rem;
  }

  .temp {
    font-size: 2rem;
  }
}
